body {
  background-color: #FAE7EE;
}
#banner {
border: 10px solid;
border-color: #FEDEEC;
border-radius: 10px;
text-align: center;
}
.menu_item{
  padding: 12px 150px;
  display: inline-block;
}
.menu{
  background-color: #EFD0E1;
}
a:hover{
  color: rose-quartz;
}

a:visited { 
color: #FF6BAC;
}

a:link{
  color: #FC8AA7;
}
