body {
  background-color: #FAE7EE;
}
#banner {
border: 10px solid;
border-color: #ffb8d7;
border-radius: 10px;
text-align: center;
}
#banner1 {
border: 10px solid;
border-color: #e1c7e3;
border-radius: 10px;
text-align: center;
}
.menu_item {
  padding: 12px 250px;
  display: inline-block;
}
.menu-item:hover{
  background-color: #ffbcbc;
  
}
#menu{
  background-color: #ffd2e9;
}
.left{
position: absolute;
border: 10px solid transparent;
left: 10px; 
margin: auto;
padding: 15px;
width: 295px;
height: 230px;
border: 15px solid transparent;
border-top: 10px solid transparent;
border-image: linear-gradient(to bottom, transparent, #FBCDEA) 3 100%;
box-shadow: 0 15px 0 0 #FBCDEA, 0 -5px 0 0 #F7FCFF,  inset 0px 15px 0 0 #FBCDEA;
background-image:  linear-gradient(#FBCDEA, transparent), linear-gradient(#FBCDEA, transparent);
background-size: 15px 100%;
background-position: 0 0, 100% 0;
background-repeat: no-repeat;
border-radius: 7px;

}
.right{
position: absolute;
border: 10px solid transparent;
right: 10px; 
margin: auto;
padding: 15px;
width: 295px;
height: 230px;
border: 15px solid transparent;
border-top: 10px solid transparent;
border-image: linear-gradient(to bottom, transparent, #FBCDEA) 3 100%;
box-shadow: 0 15px 0 0 #FBCDEA, 0 -5px 0 0 #F7FCFF,  inset 0px 15px 0 0 #FBCDEA;
background-image:  linear-gradient(#FBCDEA, transparent), linear-gradient(#FBCDEA, transparent);
background-size: 15px 100%;
background-position: 0 0, 100% 0;
background-repeat: no-repeat;
border-radius: 7px;
}
.middle{
position: absolute;
border: 10px solid transparent;
right: 425px;
margin: auto;
padding: 15px;
width: 295px;
height: 230px;
border: 15px solid transparent;
border-top: 10px solid transparent;
border-image: linear-gradient(to bottom, transparent, #FBCDEA) 3 100%;
box-shadow: 0 15px 0 0 #FBCDEA, 0 -5px 0 0 #F7FCFF,  inset 0px 15px 0 0 #FBCDEA;
background-image:  linear-gradient(#FBCDEA, transparent), linear-gradient(#FBCDEA, transparent);
background-size: 15px 100%;
background-position: 0 0, 100% 0;
background-repeat: no-repeat;
border-radius: 7px;

}
.left1{
position: absolute;
left: 10px; 
margin: auto;
}
.right1{
position: absolute;
right: 10px; 
margin: auto;
}
middle1{
position: absolute;
left: 450px; 
margin: auto;
}
a:hover{
  color: #e5cdec;
}
#description{
border: 15px solid;
border-color: #ffd2e8;
border-radius: 10px;
padding: 50px;
position: relative;
height: 490px;
}
#right{
  position: absolute;
  color: whitesmoke;
  font-family: Courier, monospace;
text-shadow: 1px 1px 2px pink;
  left: 30px;
  padding: 20px;
position: absolute;
  overflow: scroll;
  width: 450px;
  }
a:link{
  color: #ebd6e6;
}
