body {
  background-color: #FAE7EE;
}
#banner {
border: 10px solid;
border-color: #ffb8d7;
border-radius: 10px;
text-align: center;
}
#banner1 {
border: 10px solid;
border-color: #e1c7e3;
border-radius: 10px;
text-align: center;
}
.menu_item {
  padding: 12px 250px;
  display: inline-block;
}
.menu-item:hover{
  background-color: #ffbcbc;
  
}
#menu{
  background-color: #ffd2e9;
}
.left{
position: absolute;
border: 10px solid transparent;
left: 10px; 
margin: auto;
padding: 15px;
width: 295px;
height: 230px;
border: 15px solid transparent;
border-top: 10px solid transparent;
border-image: linear-gradient(to bottom, transparent, #FBCDEA) 3 100%;
box-shadow: 0 15px 0 0 #FBCDEA, 0 -5px 0 0 #F7FCFF,  inset 0px 15px 0 0 #FBCDEA;
background-image:  linear-gradient(#FBCDEA, transparent), linear-gradient(#FBCDEA, transparent);
background-size: 15px 100%;
background-position: 0 0, 100% 0;
background-repeat: no-repeat;
border-radius: 7px;

}
.right{
position: absolute;
border: 10px solid transparent;
right: 10px; 
margin: auto;
padding: 15px;
width: 295px;
height: 230px;
border: 15px solid transparent;
border-top: 10px solid transparent;
border-image: linear-gradient(to bottom, transparent, #FBCDEA) 3 100%;
box-shadow: 0 15px 0 0 #FBCDEA, 0 -5px 0 0 #F7FCFF,  inset 0px 15px 0 0 #FBCDEA;
background-image:  linear-gradient(#FBCDEA, transparent), linear-gradient(#FBCDEA, transparent);
background-size: 15px 100%;
background-position: 0 0, 100% 0;
background-repeat: no-repeat;
border-radius: 7px;
}
.middle{
position: absolute;
border: 10px solid transparent;
right: 425px;
margin: auto;
padding: 15px;
width: 295px;
height: 230px;
border: 15px solid transparent;
border-top: 10px solid transparent;
border-image: linear-gradient(to bottom, transparent, #FBCDEA) 3 100%;
box-shadow: 0 15px 0 0 #FBCDEA, 0 -5px 0 0 #F7FCFF,  inset 0px 15px 0 0 #FBCDEA;
background-image:  linear-gradient(#FBCDEA, transparent), linear-gradient(#FBCDEA, transparent);
background-size: 15px 100%;
background-position: 0 0, 100% 0;
background-repeat: no-repeat;
border-radius: 7px;

}
a:hover{
  color: #e5cdec;
}
#right{
  position: relative;
  overflow: scroll;
}
#right::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  padding: 10px; 
  background:linear-gradient(45deg,#ffdbed, #ff8ec7); 
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}


a:link{
  color: #ebd6e6;
}
